
<mat-toolbar color="primary" class="navbar">
    <div>TRMS</div>
    <div>
        <span (click)="logout()">
            LogOut
        </span>
    </div>
</mat-toolbar>

<h2 class="centertext">Reimbursement Submissions</h2>
<table mat-table [dataSource]="formData">

    <ng-container matColumnDef="Form Id">
        <th mat-header-cell *matHeaderCellDef> Form ID </th>
        <td mat-cell *matCellDef="let element"> {{element.fId}} </td>
    </ng-container>

    <ng-container matColumnDef="CourseName">
        <th mat-header-cell *matHeaderCellDef> Course Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="CourseType">
        <th mat-header-cell *matHeaderCellDef> Course Type </th>
        <td mat-cell *matCellDef="let element"> {{element.eventType}} </td>
    </ng-container>

    <ng-container matColumnDef="Approval">
        <th mat-header-cell *matHeaderCellDef> Approval Status </th>
        <td mat-cell *matCellDef="let element" [routerLink]="['/sapproval',element.fId]"> {{element.sApproval}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>